@font-face {
    font-family: Street-Fighter;
    src: url(../fonts/Street_Fighter.ttf);
}

body {
    font-family: sans-serif;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header {
    max-height: 400px;
    margin-top: 40px;
    font-family: Street-Fighter;
    font-size: min(3vw, 1.5em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.resolution {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resolution div {
    max-width: 40vw;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    border-radius: 25px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease;
}

.selecting {
    transform: scale(1.2);
    border-color: darkred;
    box-shadow: 0 0 2rem darkred;
  }

.resolution img {
    max-width: 100%;
    height: auto;
}

.resolution h2 {
    font-family: Street-Fighter;
    font-size: min(8vw, 3em);
    padding: 0.5em;
}

.choice {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: white;
    border-width: 8px;
    border-radius: 25px;
    border-color: black;
    max-width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: lightgray;
}

button:active {
    border-color: darkgray;
    border-style: solid;
}

button:disabled {
    border-color: darkgray;
    border-style: solid;
}

button:disabled:hover {
    background-color: white;
}

button.rock {
    padding: 30px;
}

button.paper {
    padding: 30px;
    margin: 0 40px;
}

button.scissors {
    padding: 30px;
}

.choice img {
    max-width: 100%;
    height: auto;
}

.game_text {
    font-family: Street-Fighter;
    font-size: min(3vw, 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game_text a {
    text-decoration: none;
    color: darkred;
}

.attributions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.attributions a {
    font-family: Street-Fighter;
    color: darkred;
    text-decoration: none;
    font-size: 0.75em;
    font-size: min(2.5vw, 2em);
}

.footer {
    font-family: Street-Fighter;
    font-size: min(3vw, 1.5em);
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: darkred;
}